@model Eden.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<p>Membership Type: @Model.MembershipType.MembershipName</p>

@if (Model.Birthday != null)
{
    <p>Birthday: @Model.Birthday</p>
}
